/* Formatação inicial */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Primeiro container - lado direito */
.container {
    width: 100%;
}

.sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 0 auto;
    width: 20rem;
    box-sizing: border-box;
}

/* campo de foto */
.sidebar img.icon {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 5rem;
    display: block;
    margin: 0 auto;
}

.sidebar h2 {
    text-align: center;
    margin: 10px;
}

.sidebar p {
    font-size: 14px;
    line-height: 1.5;
}

.sidebar ul {
    list-style: none;
    padding: 1rem;
    text-align: center;
}

.sidebar ul li {
    margin: 10px 0;
    padding-bottom: .6rem;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

/* Segundo container - lado esquerdo */
.main-content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

.main-content h1 {
    margin-top: 0;
}

.task-tables {
    display: flex;
    justify-content: space-between;
}

.task-table {
    width: 45%;
}

/* Butões */
button {
    padding: .2rem;
    background-color: #333;
    color: #fff;
}

input {
    border: none;
    padding: .2rem;
}

.task-table h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.task-table ol {
    padding-left: 20px;
}
